.song-lyric {
    color: #fff;
    position: absolute;
    top: 15px;
    text-align: center;
    left: -15rem;
    background: hsla(0, 0%, 0%, 0.3);
    padding: 1rem 4rem;
    margin-left: 12rem;
}

/*==============Media Queries============*/
@media screen and (max-width: 768px) {
    .song-lyric {
        /* left: -6rem; */
        /* padding-left: 6rem; */
    }

}

