:root {
    --primary-color: rgba(240, 236, 236, 0.8);
    --header-color: rgba(240, 236, 236, 0.4);
    --white: #fff;   
}

.song-header-container-list {
    display: flex;
    width: 90%;
    border-bottom: 1px solid #666;
    padding-bottom: 6px;
    margin-top: 1.7rem;
  }

.song-title-list,
.song-title-header-list {
    width: 250px;
    margin-left: 2rem;
  }

.song-artist-list,
.song-artist-header-list {
    width: 150px;
}
  
.song-album-list,
.song-album-header-list {
    width: 150px;
}

.song-lyrics-list,
.song-lyrics-header-list {
    flex: 0 1 auto;
    margin-right: 0.5rem;
    position: relative;
  }

.song-lyrics p button {
    width: 80px;
    height: 20px;
    color: #fff;
    outline: none;
    border-radius: 0px;
    background-color: #1db954;
}
  
.user-song-item-list {
    list-style-type: none;
    border-bottom: 1px solid #666;
    display: flex;
    line-height: 30px;
    font-size: 13px;
    cursor: pointer;
    grid-area: list;
    width: 90%;
  }

.user-song-item-list:hover {
 background: rgb(51, 51, 51);
}

.user-song-item-list p:hover {
    color: #1db954;
}


.song-title-list p,
.song-artist-list p,
.song-album-list p,
.song-lyrics-list p {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 0 8px;
line-height: 25px;
color: var(--white);
}




.song-title-header-list p,
.song-artist-header-list p,
.song-album-header-list p,
.song-lyrics-header-list p {
text-transform: uppercase;
font-size: 12px;
color: #ccc;
padding: 0 8px;
}

.song_list {
    margin: 0;
    padding:0;
}


/*=================media queries==================*/

@media only screen and (max-width: 768px) {

    .song-header-container-list {
        width: 90%;
    }

    .song-title-header-list p,
    .song-artist-header-list p,
    .song-album-header-list p,
    .song-lyrics-header-list p {
        font-size: 9px;
    }

    .song-title-list,
    .song-title-header-list {
        width: 200px;
        margin-left: 0;
    }

    .song-artist-list,
    .song-artist-header-list {
        width: 100px;
    }
    
    .song-album-list,
    .song-album-header-list {
        width: 100px;
    }

    .song-lyrics p button {
        width: 80px;
        text-overflow: ellipsis;
    }

    .user-song-item-list {
        display: flex;
        flex-direction: column;

    }
    .user-song-item-list {
        line-height: none;
      }
}
